.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.container-xs {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 480px;
}

.container-sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 640px;
}

.container-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 768px;
}

.container-lg {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 1024px;
}

.container-xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
}

.container-2xl {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  max-width: 1536px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.small-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .small-container {
    max-width: 320px;
  }
}
@media (min-width: 768px) {
  .small-container {
    max-width: 384px;
  }
}
@media (min-width: 1024px) {
  .small-container {
    max-width: 512px;
  }
}
@media (min-width: 1280px) {
  .small-container {
    max-width: 640px;
  }
}
@media (min-width: 1536px) {
  .small-container {
    max-width: 768px;
  }
}
