body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #000;
  margin: 0;
}

.title-section {
  display: flex;
  justify-items: center;
  align-items: center;
}

.title-section h1 {
  text-align: center;
  background: -webkit-linear-gradient(45deg, #30c6b3, #2d86c2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 5rem;
}

.title-section p {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}

* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 18px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #2c78ab;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: opacity 0.3s linear;
  margin-top: 1rem;
}

input[type="submit"]:hover {
  opacity: 0.7;
}

.form-container {
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
  }
}
