body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #000;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.title-section {
  text-align: center;
}

.title-section h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
  font-weight: 800;
  color: #fff;
}

.title-section-one {
  display: block;
}

.title-section-two {
  display: block;
  color: #2c78ab;
}

.title-section p {
  margin-top: 0.75rem;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.featured_work {
  margin: 0 auto;
}

.featured_work h2 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 3em;
  margin-left: 10vw;
}

.featured_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  .featured_container {
    grid-template-columns: auto;
  }
}

.main_feature {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 30rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .main_feature {
    width: 80vw;
  }
}

.main_feature h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 20rem;
}

.secondary_feature {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 30rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .secondary_feature {
    width: 80vw;
  }
}

.secondary_feature h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 20rem;
}

.line {
  background: #707070;
  height: 1px;
  width: 70%;
  margin: 5rem auto;
}

.categories h2 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 3em;
  margin-left: 10vw;
}

.categories {
  margin: 0 auto;
}

.categories_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

@media only screen and (max-width: 900px) {
  .categories_container {
    grid-template-columns: auto;
  }
}

.main_category {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 49rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .main_category {
    width: 80vw;
  }
}

.main_category h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 35rem;
}

.sub_categories {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}

.sec_category {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 15rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .sec_category {
    width: 80vw;
  }
}

.sec_category h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 5rem;
}

.third_category {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 15rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .third_category {
    width: 80vw;
  }
}

.third_category h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 5rem;
}

.fourth_category {
  background: url(img/Image.png);
  background-position: center;
  background-size: cover;
  width: 50rem;
  height: 15rem;
  border-radius: 30px;
}

@media only screen and (max-width: 900px) {
  .fourth_category {
    width: 80vw;
  }
}

.fourth_category h3 {
  color: #fff;
  font-family: roboto slab;
  font-weight: 900;
  font-size: 2em;
  color: #2d86c2;
  padding: 2rem;
  background: rgba(48, 198, 179, 0.3);
  text-align: center;
  margin-top: 5rem;
}

.all_work_button {
  display: grid;
  justify-items: center;
  margin-top: 5rem;
}

.all_work_button a {
  display: grid;
  width: 9rem;
  background: #fff;
  border: 2px solid #30c6b3;
  border-radius: 30px;
  color: #2d86c2;
  padding: 1rem 2rem;
  font-size: 2em;
  font-family: roboto slab;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 640px) {
  .title-section h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .title-section p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  .title-section h1 {
    font-size: 3.75rem;
    line-height: 1;
  }

  .title-section p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 48rem;
  }
}
