body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #121212;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.title-section {
  text-align: center;
}

.title-section h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  letter-spacing: -0.05em;
  font-weight: 800;
  color: #fff;
}

.title-section-one {
  display: block;
}

.title-section-two {
  display: block;
  color: #2c78ab;
}

.title-section p {
  margin-top: 0.75rem;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.portfolio-container {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.portfolio-container-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-card-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1.25rem;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.portfolio-card-image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.5rem;
}

.portfolio-card-title {
  position: absolute;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin: 1rem;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: #2c78ab;
}

/* @media queries */

@media (min-width: 640px) {
  .title-section h1 {
    font-size: 3rem;
    line-height: 1;
  }

  .title-section p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .portfolio-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .title-section h1 {
    font-size: 3.75rem;
    line-height: 1;
  }

  .title-section p {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 48rem;
  }

  .portfolio-container {
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .portfolio-card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .portfolio-card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: none;
  }
}
